body {
    background-color: rgb(224, 236, 152);
}
header {
    display: flex;
    justify-content: center;
    font-size: medium;
    font-family: fantasy;
    font-weight: 300;
    
}
img {
    width: 300px;
    height: 150px;
    
}
nav {
    height: 200px;
    width: 500px;
}
ul{
    display: flex;
    list-style: none;
}
div{

}
footer {
 
width: 200px;
height: 200px;
color: #000000;
position: bottom;
padding: 10px 10px 0px 10px;
bottom: 0;

}